# Following should be a user and password you create just for this app
# NOT your mlab username and password

export MONGODB_USER=testuser
export MONGODB_PASS=abcd1234
export MONGODB_NAME=cs56-m18-demo
export MONGODB_HOST=ds143932.mlab.com
export MONGODB_PORT=43932

heroku  config:set MONGODB_USER=${MONGODB_USER} --app ucsb-cs56-pconrad-08-28-18
heroku  config:set MONGODB_PASS=${MONGODB_PASS}	--app ucsb-cs56-pconrad-08-28-18
heroku  config:set MONGODB_NAME=${MONGODB_NAME}	--app ucsb-cs56-pconrad-08-28-18
heroku  config:set MONGODB_HOST=${MONGODB_HOST}	--app ucsb-cs56-pconrad-08-28-18
heroku  config:set MONGODB_PORT=${MONGODB_PORT}	--app ucsb-cs56-pconrad-08-28-18
